<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
    <title>My Team</title>
</head>

<body>
    <div
        style='background: url("../Assets/computer-screen.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height: 100vh;'>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h1 class="title" style="text-align: center;">My Team</h1>
                </div>
            </div>
        </div>
        <div class="level">
            {{ team }}
        </div>
        <footer style="position: fixed; bottom: 0; background-color: white; width: 100vw; text-align: center;">Photo by
            Artem Sapegin
            on Unsplash</footer>
</body>

</html>